<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue.js</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<style>
    .textbiru {
        color: blue;
    }
</style>

<body>
    
    <div id="app">
        <span v-if="tampil">
            {{ massage }}
        </span>
        <span v-else>
            message tidak ditampilkan
        </span>

        <div v-if="nilai > 8">
            predikat A
        </div>
        <div v-else-if="nilai <= 8 && nilai >6">
            predikat B
        </div>
        <div v-else>
            predikat C
        </div>

        <div v-show="stateLampu">
            Lampu Menyala
        </div>
        <button @click="toggleLampu">Pencet Saklar</button>

        <div v-for="angka in 10">
            {{ angka }}
        </div>
        <ul v-for="angka in 10">
            <li>{{ angka }}</li>
        </ul>
        <ul v-for="(i, index) in fruits">
            <li>{{i}} {{index}}<button @click="hapus(index)">x</button></li>
        </ul>
        <ul v-for="i in footballPlayers">
            <li>{{i.name}} - {{i.position}}</li>
        </ul>

        <button @click="count--">-</button>
        <span>{{ count }}</span>
        <button @click="count++">+</button>
        <br>
        <button @click="mengurangi">-</button>
        <span>{{ count }}</span>
        <button @click="menambah">+</button>
        <br>
        <button @click="sayHello('Silvia')">Hello World</button>
        <br>
        <input type="text" @keydown.enter="sayHello('Silvia')">
        <br>
        <form method="post" action="item.html" @submit.prevent>
            <input type="text">
            <button type="submit" value="send">Submit</button>
        </form>

        <a :href="url">google</a>
        <br>
        <h2>User</h2>
        <div :class="selectedClass">
            nama : {{ user.name }}
        </div>
        <img :src="user.image" :style="{width: responsiveWidth}" :alt="'image of ' + user.name"
        :title="'image of ' + user.name">

        <div>
            <label for="">username : </label><br>
            <input type="text" placeholder="username" v-model="username">
        </div>
        <div>
            <label for="">address</label><br>
            <textarea name="" id="" v-model="address"></textarea>
        </div>
        <div>
            <label for="">gender</label><br>
            <input type="radio" value="Pria" v-model="gender">Pria
            <input type="radio" value="Wanita" v-model="gender">Wanita
        </div>
        <div>
            <label for="">Hobi</label><br>
            <label for="">Sepak Bola</label>
            <input type="checkbox" value="sepak bola" v-model="hobi">Sepak Bola
            <br>
            <label for="">Basket</label>
            <input type="checkbox" value="basket" v-model="hobi">Basket
            <br>
            <label for="">Renang</label>
            <input type="checkbox" value="renang" v-model="hobi">Renang
        </div>
        <div>
            <label for="">Role</label>
            <select name="role" id="role" v-model="role">
                <option disabled value="Pilih Satu"></option>
                <option value="staff">Staff</option>
                <option value="admin">Admin</option>
                <option value="superadmin">Super Admin</option>
            </select>
        </div>
        <div>
            <p>username: {{ username }}</p>
            <p>address: {{ address }}</p>
            <p>gender: {{ gender }}</p>
            <p>hobi: 
                <span v-if="hobi.length > 0">
                    <ul v-for="i in hobi">
                        <li>{{ i }}</li>
                    </ul>
                </span>
            </p>
            <p>role: {{ role }}</p>
        </div>
    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data() {
                return {
                    massage: 'Hello World',
                    tampil: false,
                    nilai: 9,
                    stateLampu: false,
                    fruits: ['apple', 'banana', 'cherry', 'melon', 'orange'],
                    footballPlayers: [
                        {name: 'messi', position: 'forward'},
                        {name: 'ronaldo', position: 'forward'},
                        {name: 'neymar', position: 'midfielder'},
                        {name: 'kane', position: 'forward'},
                        {name: 'salah', position: 'forward'}
                    ],
                    count: 0,
                    url: 'https://www.google.com',
                    user: {
                        name: 'Silvia',
                        image: 'https://media.istockphoto.com/id/1131841061/photo/woman-has-confused-thinking-question-mark-icon-on-paper-bag-copy-space.webp?a=1&b=1&s=612x612&w=0&k=20&c=6sgqtqLCj3RXU4F0hLDP2sXcjZ6V6SNKRDdSynHUjd0='
                    },
                    responsiveWidth: '300px',
                    selectedClass: 'textbiru',
                    username: '',
                    address: '',
                    gender: '',
                    hobi: [],
                    role: ''
                }
            },
            methods: {
                toggleLampu() {
                    this.stateLampu = !this.stateLampu
                },
                hapus(index) {
                    this.fruits.splice(index, 1)
                },
                mengurangi() {
                    this.count--
                },
                menambah() {
                    this.count++
                },
                sayHello(name) {
                    alert('Hello ' + name)
                }
            }
        }).mount('#app')
    </script>
</body>
</html